.pt-90{
    padding-top: 90px;
}


.pl-100{
    padding-left: 100px;
}

.txt-red{
    color: red;
}

.cellFormCalendar{
    /* display: block; */
    background-color: rgba(63, 63, 187, 0.323);
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(52, 52, 52, 0.436);
}